

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
  margin:0px;
  height:100%;
  
}



.container-principal{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  
}

.container-botonera{
  
  flex-grow: 0.3;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: stretch;
  height: 100%;
  gap: 15%;
  
  }





