{% extends 'app_entrega1/padre.html' %}

{% load static %}
{% block titulo %}
  <h1>BASE DE DATOS DE VENTAS</h1>
  <h2>Actualizar venta </h2>
{% endblock %}
{% block formulario_agregar %}

<form action="{% url 'actualizar_venta' venta.venta_id %}" method="POST">{% csrf_token %}
     
  <table>
    {{ miformulario.as_table }}
  </table>
  <input type="submit" value="guardar">
</form>
{% endblock %}


{% block columnas %}
<tr>
  <th><h1>proveedor_id</h1></th>
  <th><h1>nombre_proveedor</h1></th>
  <th><h1>direccion_proveedor</h1></th>
  <th><h1>cuit</h1></th>
  
</tr>
{% endblock %}

{% block tabla %}
{% for proveedor in all_proveedores %}
<tr>
   <td> {{ proveedor.proveedor_id }} </td>
   <td> {{ proveedor.nombre_proveedor }} </td>
   <td> {{ proveedor.direccion_proveedor }} </td>
   <td> {{ proveedor.cuit }} </td>

</tr>
{% endfor %}
{% endblock %}