{% extends 'app_entrega1/padre.html' %}

{% load static %}

{% block titulo %}
  <h1>BASE DE DATOS DE VENTAS</h1>
  <h2>Buscar ventas </h2>
{% endblock %}

{% block formulario_agregar %}
<h1>formulario de busqueda </h1>
<form action="{% url 'buscar_ventas' %}" method="POST">{% csrf_token %}
     
   <input type="number" name="venta_id" id="venta_id">
    <input type="submit" value="enviar">
</form>
{% endblock %}

{% block columnas %}
<tr>
  <th><h1>venta_id</h1></th>
  <th><h1>fecha_venta </h1></th>
  <th><h1>cantidad_venta</h1></th>
  <th><h1>usuario_id</h1></th>
  
</tr>
{% endblock %}

{% block tabla %}
{% for venta in all_ventas %}
<tr>
   <td> {{ venta.venta_id }} </td>
   <td> {{ venta.fecha_venta }} </td>
   <td> {{ venta.cantidad_venta }} </td>
   <td> {{ venta.usuario_id }} </td>
   <td><button><a href="{% url 'eliminar_venta' venta.venta_id %}">Eliminar</a></button></td>
   <td><button><a href="{% url 'actualizar_venta' venta.venta_id %}">Actualizar</a></button></td>
</tr>
{% endfor %}
{% endblock %}