{% extends 'app_entrega1/padre.html' %}

{% load static %}
{% block titulo %}
<h1>BASE DE DATOS DE PRODUCTOS</h1>
<h2>Buscar productos </h2>
{% endblock %}
{% block formulario_agregar %}
<h1>formulario de busqueda de productos</h1>
<form action="{% url 'buscar_productos' %}" method="POST">{% csrf_token %}
     
   <input type="number" name="producto_id" id="producto_id">
    <input type="submit" value="enviar">
</form>
{% endblock %}

{% block columnas %}
<tr>
  <th><h1>Producto_id</h1></th>
  <th><h1>Nombre Producto</h1></th>
  <th><h1>Empresa</h1></th>
  <th><h1>Tipo</h1></th>
  <th><h1>Precio</h1></th>
</tr>
{% endblock %}

{% block tabla %}
{% for producto in all_productos %}
<tr>
   <td> {{ producto.producto_id }} </td>
   <td> {{ producto.nombre_producto }} </td>
   <td> {{ producto.empresa }} </td>
   <td> {{ producto.tipo_producto }} </td>
   <td> {{ producto.precio }} </td>
</tr>
{% endfor %}
{% endblock %}