<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app_entrega1/style.css' %}">
  </head>
  <body>
    
 
      <div class="container-principal">
         
        
          <div class="container-botonera">
            <div><button><a href="{% url 'guardar_productos' %}"> Guardar Productos</a></button></div>
            <div><button><a href="{% url 'buscar_productos' %}"> Buscar Productos</a></button></div>
            <div><button><a href="{% url 'guardar_proveedores' %}"> Guardar Proveedores</a></button></div>
            <div><button><a href="{% url 'buscar_proveedores' %}"> Buscar Proveedores</a></button></div>
            <div><button><a href="{% url 'guardar_ventas' %}"> Guardar Ventas</a></button></div>
            
            <div><button><a href="{% url 'buscar_ventas' %}"> Buscar Ventas</a></button></div>
          </div>
          
      </div>
  


     
  </body>
</html>
