<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app_entrega1/css/style.css' %}">
  </head>
  <body>
    
    <nav>
      <div class="container">
       
        
        <button><a href="{% url 'inicio' %}"> Volver</a></button>
        {% comment "PODEMOS HACER ESTO O CREO YO SACARLE LOS BOTONES T DEJARLOS SOLO EN INICIO" %}{% endcomment %}
      </div>
    </nav>
    
    
    {% block titulo %} 
    {% endblock %} 
    {% block formulario_agregar %} {% endblock %}

    <!-- <div class="formulario_busqueda">
     {% block formulario_buscar %}
      {% endblock %}
    </div> -->

    <table class="container">
      <thead>
        <tr>
          {% block columnas %} {% endblock %}
        </tr>
      </thead>
      {% block titulo_tabla %} {% endblock %}
      <tbody>
        {% block tabla %} {% endblock %}
      </tbody>
    </table>
  </body>
</html>
