{% extends 'app_entrega1/padre.html' %}

{% load static %}
{% block titulo %}
  <h1>BASE DE DATOS DE PRODUCTOS</h1>
  <h2>Guardar Productos</h2>
{% endblock %}
{% block formulario_agregar %}
<form action="{% url 'guardar_productos' %}" method="POST">{% csrf_token %}
    <table>
      {{ formulario.as_table }}
    </table>
    <input type="submit" value="enviar">
</form>
{% endblock %}

{% block columnas %}
<tr>
  <th><h1>Producto_id</h1></th>
  <th><h1>Nombre Producto</h1></th>
  <th><h1>Empresa</h1></th>
  <th><h1>Tipo</h1></th>
  <th><h1>Precio</h1></th>
</tr>
{% endblock %}

{% block tabla %}
{% for producto in all_productos %}
<tr>
   <td> {{ producto.producto_id }} </td>
   <td> {{ producto.nombre_producto }} </td>
   <td> {{ producto.empresa }} </td>
   <td> {{ producto.tipo_producto }} </td>
   <td> {{ producto.precio }} </td>
   
</tr>
{% endfor %}
{% endblock %}