<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'app_entrega1/style.css' %}">
</head>
<body>
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">inicio</a>
        <a class="btn btn-success" href="{% url 'guardar_productos' %} ">Productos</a>
        <a class="btn btn-dark" href="{% url 'guardar_proveedores' %}">Proveedores</a>
        
        <a class="btn btn-danger" href="{% url 'guardar_ventas' %}">Ventas</a>
        
    </div>
</nav>

  <h1>BASE DE DATOS DE PRODUCTOS</h1>
    <h2>GUARDAR PRODUCTO</h2>

    
      {% block formulario_agregar %}
      
      {% endblock %}
    


    <!-- <div class="formulario_busqueda">
     {% block formulario_buscar %}
      {% endblock %}
    </div> -->
    
    <table class="container">
      <thead>
        <tr>
          {% block columnas %}
          {% endblock %}
        </tr>
      </thead>
        {% block titulo_tabla %}
        {% endblock %}
      <tbody>
        {% block tabla %}
        {% endblock %}
      </tbody>
      
      
    </table>
  
</body>
</html>